*{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: darkslategrey;
    color: white;
}

.container {
    display: flex; /* Estabelece um layout flexível */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}
      
.texto-ao-lado {
    margin-left: 10px; /* Espaço entre a imagem e o texto */
}

.container img {
    max-width: 40%; /* Largura máxima das imagens */
}
.container p {
    flex: 1; /* Permite que o texto ocupe o espaço restante */
    padding: 0 20px; /* Espaçamento entre o texto e as imagens */
}
/* Definindo o fundo branco para os campos de entrada */
#massInput,
#accelerationInput {
    background-color: white;
    /* Outros estilos opcionais */
    color: black; /* Definindo a cor do texto para preto */
    border: 1px solid #ccc; /* Adicionando uma borda para destacar o campo */
    padding: 8px; /* Adicionando um espaçamento interno */
    border-radius: 5px; /* Adicionando cantos arredondados */
}
